* {
    padding: 0px;
    margin: 0px;
    transition: all 0.5s ease;
}

html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(8deg, #000, #ff0000)
}

.side {
    width: 50px;
    height: 100%;
    background-color: black;
    display: inline-block;
}

.content {
    width: calc(100% - 50px);
    height: 100%;
    display: inline;
}

@media only screen and (min-width: 768px) {
    .side:hover {
        width: 300px;
    }

    .side:hover + .content {
        width: calc(100% - 300px);
    }
}
